.login{
  .container{
    margin: 0 auto;
    max-width: 1480px;
    h2{
      margin: 100px 0 0;
      font-weight: bold;
      font-size: 1.8rem;
      text-align: center;
    }
    .loginArea{
      margin: 0 auto;
      width: 50%;
      .formBox{
        padding: 50px 20% 70px;
        border-bottom: 1px solid #ddd;
        &:last-child{
          border-bottom: none;
        }
        input[type="text"], input[type="password"]{
          margin-top: 10px;
        }
        .savedInfo{
          margin-top: 10px;
          font-size: .8rem;
          color: #888;
      
        }
        .btnLogin{
          margin-top: 5px;
          width: 100%;
          padding: 10px 20px;
          text-align: center;
          border: 1px solid #ddd;
        }
        .btnWrap{
          margin-top: 10px;
        }
        .joinfind{
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
          a {
            font-size: .8rem;
            color: #888;
          }
        }

        h3{
          font-weight: bold;
          font-size: 1.1rem;
          text-align: center;
        }
        ul.socialLogin{
          margin-top: 20px;
          display: flex;
          gap: 10px;
          li{
            width: 50%;
            border-radius: 5px;
            border: 1px solid #ddd;
            a{
              padding: 5px 0;
              display: block;
              text-align: center;
            }
          }
        }
      }
    }
  }
}