

.login{
  .container{
    margin: 0 auto;
    max-width: 1480px;
    h2{
      margin: 100px;
      font-weight: bold;
      font-size: 1.8rem;
      text-align: center;
    }
    .loginArea{
      margin: 0 auto;
      width: 50%;
      .basicLogin{
        padding: 50px;
        border: 1px solid #888;
        .formText{
          margin-top: 5px;
          padding: 12px 15px;
          width: 100%;
          display: block;
          border: 1px solid #ddd;
          &:last-child{
            margin-top: 0;
          }
        }
        .savedInfo{
          display: flex;
          align-items: center;
          margin-top: 5px;
          font-size: .8rem;
          color: #888;
        }
        .btnLogin{
          margin-top: 5px;
          width: 100%;
          padding: 10px 20px;
          text-align: center;
          border: 1px solid #ddd;
        }
        .joinfind{
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
          a {
            font-size: .8rem;
            color: #888;
          }
        }
      }
      .socialArea{
        padding: 30px 50px;
        margin-top: 10px;
        border: 1px solid #888;
       
        h3{
          font-weight: bold;
          font-size: 1rem;
          text-align: center;
        }
        ul.socialLogin{
          margin-top: 10px;
          display: flex;
          li{
            width: 50%;
            margin-right: 10px;
            border-radius: 5px;
            border: 1px solid #ddd;
            &:last-child{
              margin-right: 0;
            }
            a{
              padding: 5px 0;
              display: block;
              text-align: center;
            }
          }
        }
      }
    }
  }
}