.btnL{
  width: 100%;
  padding: 12px 0;
  font-size: 1rem;
  cursor: pointer;
}
.btnM{
  padding: 5px 5%;
  font-size: .8rem;
  border-radius: 5px;
  cursor: pointer;
}
.btnS{
  padding: 5px 3px;
  font-size: .8rem;
  border-radius: 5px;
  cursor: pointer;
}
.success{
  color: #fff;
  background-color: #41ba9c;
}
.disabled{
  color: #fff;
  background-color: #8a8a8a;
}

.cancel{
  color: #fff;
  background-color: #be3e3e;
}
.white{
  background: #fff;
  border: 1px solid #ddd;
}