.container{
  margin: 0 auto 160px;
  max-width: 1480px;
  
  input{
        margin-top: 5px;
        padding: 12px 15px;
        display: block;
        border-bottom: 1px solid #ddd;
  }
  .tableScrollable{
    position: relative;
    overflow-x: auto;
    width: 100%;
    table.tbBoard{
      thead{
        tr{
          height: 50px;
          th{
          border: 1px solid #333;
          .checkAll{
            display: flex;
            justify-content: center;
          }
          }
        }
      }
   
      tfoot{
        tr{
          height: 45px;
          border-top: 3px solid #333;
          border-bottom: 1px solid #333;
          .total{
            span{
              display: block;
              text-align: center;
              font-weight: bold;
            }
          }
          .totalPrice{
            span{
              display: block;
              padding-right: 20px;
              font-size: 1.25rem;
              font-weight: bold;
              text-align: right;
            }
          }
        }
      }
    }
  }

  .orderInfo{
    h3{
      margin: 150px 0 80px;
      text-align: center;
      font-weight: bold;
    }
  }

  
h3{
  margin: 80px 0 20px;
  font-weight: bold;
  font-size: 1.4rem;
}


  table.payTable{
    margin-top: 20px;
    width: 100%;
    background-color: #f4f4f4;
    thead{
      tr{
        th{
          padding: 12px 0;
          text-align: center;
          font-size: .9rem;
          font-weight: bold;
          border-bottom: 1px solid #ddd;
        }
      }
    }
    tbody{
      tr{
        font-size: 1rem;
       td{
        padding: 20px 0;
        text-align: center;
        strong{
          font-size: 1.4rem;
          font-weight: bold;
        }
       }
      }
    }
  }
  
  
  .paySort{
    li{
      display: flex;
      margin-bottom: 10px;
      label{
        margin-left: 8px;
      }
    }
  }
  
  .toggleWrap{
    .toggleBody{
      .toggleTitle{
        padding: 10px 15px;
        font-weight: bold;
        border: 1px solid #f3f3f3;
      }
      .expandable{
        transform-origin: top;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        will-change:max-height,padding,opacity,background;
        transition: opacity .5s ease, background .5s ease;
  
      }
      &.actived{
        .expandable{
          padding: 30px;
          max-height: 999px;
          opacity: 1;
          background: #f6f3f2;
        }
      }
    }
  }
  
  .divList{
    display: flex;
    flex-wrap: wrap;
    flex: 0;
    dt, dd{margin-bottom: 15px;}
    dt{
      width: 30%;
      // min-width: 180px;
      font-weight: bold;
    }
    dd{
      width: 70%;
      .formWrap{
        display: flex;
        label{
          margin-left: 5px;
          margin-right: 20px;
        }
      }
      select{
        padding: 5px 10px;
        border: 1px solid #aaa;
      }
    }
  }
  
  .uiTable{
    width: 100%;
    &.tbStyle01{
      border-top: 2px solid #000;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
    thead{
      tr{
        th{
          padding: 10px 0;
          border-bottom: 1px solid #ddd;
        }
      }
    }
    tbody{
      tr{
        td{
          padding: 10px;
          font-size: .8rem;
          border-left: 1px solid #ddd;
        }
      }
    }
  }
  
  .btnWrap{
    margin: 50px auto 0;
    display: flex;
    width: 50%;
    gap: 10px;
  }
}




@media all and (max-width:768px) {
  .tableScrollable{
    table.tbBoard{
      width: 150%;
    }
  }
}