.prdWrap{
  width: 100%;
  .lists{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px 0;
    li{
      width: clamp(180px, 23%, 350px);
      a{
        display: block;
        background-color: #666;
        overflow: hidden;
        border: 1px solid #eee;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all .5s ease-in-out;
        }
        &:hover{
          img{
            transform: scale(1.1);
          }
        }
      }
      .details{
        padding: 15px 0;
        .title{
          font-weight: bold;
          font-size: .85rem;
        }
        .price{
          font-weight: bold;
          font-size: 1.1rem;
          span.before{
            font-size: .8rem;
            color: #999;
            font-weight: normal;
            text-decoration: line-through;
          }
        }
        .desc{
          margin-top: 8px;
          padding-top: 8px;
          border-top: 1px solid #eaa0a0;
          font-size: .8rem;
          .event{
            color: red;
          }
          .text{
            margin-top: 3px;
            color: #888;
            white-space: normal;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }
  }
}