.container{
  margin: 0 auto 160px;
  max-width: 1480px;
  input{
        margin-top: 5px;
        padding: 12px 15px;
        display: block;
        border-bottom: 1px solid #ddd;
  }
  .tableScrollable{
    position: relative;
    overflow-x: auto;
    width: 100%;
    table.tbBoard{
      thead{
        tr{
          height: 50px;
          th{
          border: 1px solid #333;
          .checkAll{
            display: flex;
            justify-content: center;
          }
          }
        }
      }
   
      tfoot{
        tr{
          height: 45px;
          border-top: 3px solid #333;
          border-bottom: 1px solid #333;
          .total{
            span{
              display: block;
              text-align: center;
              font-weight: bold;
            }
          }
          .totalPrice{
            span{
              display: block;
              padding-right: 20px;
              font-size: 1.25rem;
              font-weight: bold;
              text-align: right;
            }
          }
        }
      }
    }
  }

  .orderInfo{
    h3{
      margin: 150px 0 80px;
      text-align: center;
      font-weight: bold;
    }
  }
  .btnWrap{
    margin: 50px auto 0;
    display: flex;
    width: 50%;
    gap: 10px;
  }
}


@media all and (max-width:768px) {
  .tableScrollable{
    table.tbBoard{
      width: 150%;
    }
  }
}