.tabMenus{
  .title{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.3;
  }
  ul.tabs{
    margin-top: 60px;
    li{
      margin-top: 15px;
      a{
        position: relative;
        font-size: 1.2rem;
        &:after{
          position: absolute;
          top: 50%;
          right: -20px;
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 50%;
          transform: translateY(-50%);
        }
        &:hover{
          &:after {
            background-color: #ddd;
          }
        }
        &.on{
          font-weight: bold;
          &:after{
            background-color: #eaa0a0;
          }
        }
      }
      &:first-child{
        margin-top: 0;
      }
    }
  }
}