  input.textform{
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
  }
  .warningMsg{
    display: block;
    padding: 5px 15px;
    width: 100%;
    font-size: 0.75rem;
    &.success{
      color: #4c93f5;
    }
    &.error{
      color: #db2525;
    }
  }
  .chkBox{
    display: flex;
    align-items: center;
    span{
      flex-shrink: 0;
      display: inline-block;
      padding-left: 5px;
    }
  }
 //address form

  .address{
    .zonecode{
      display: flex;
      input{
        display: inline-block;
        width: 32%;
      }
      button{
        display: inline-block;
        flex-shrink: 0;
        margin-left: 10px;
      }
    }
  }

  .ssnArea{
    display: flex;
    align-items: center;
    vertical-align: top;
  }

  //email form
  .emailform{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .inputEmail{
      width: 52%;
    }
    .at{
      margin: 0 2%;
      display: inline-block;
    }
    .selectEmail{
      width:40%;
      padding: 5px 10px;
      border: 1px solid #ddd !important;
      border-radius: 5px;
    }
  }
  
  .chkBoxWrap{
    display: flex;
    .text{
      padding-left: 5px;
    }
  }

  @media all and (min-width:769px) and (max-width:1024px) {
    //email form
    .inputEmail{
      width: 50%;
    }
    .at{
      margin: 0 1%;
    }
    .selectEmail{
      width:43%;
    }
  }
@media all and (max-width:768px) {
    //email form
    .inputEmail{
      width: 45%;
    }
    .at{
      margin: 0;
    }
    .selectEmail{
      width:45%;
    }
}