

.join{
  .container{
    margin: 0 auto;
    max-width: 1480px;
    h2{
      margin: 100px 0 0;
      font-weight: bold;
      font-size: 1.8rem;
      text-align: center;
    }
    .loginArea{
      margin: 0 auto 100px;
      width: 50%;
      .formBox{
        padding: 50px 0 0;
        input{
          margin-top: 5px;
          padding: 12px 15px;
          display: block;
          border-bottom: 1px solid #ddd;
          &:last-child{
            margin-top: 0;
          }
        }
        .emailform{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;

        }
        .gender{
          display: flex;
          gap: 20px;
          padding: 10px 15px;
          width: 100%;
          font-size: .9rem;
        }
        .address{
          input{
            display: inline-block;
          }
          button{
            display: inline-block;
            flex-shrink: 0;
            margin-left: 10px;
          }
        }
      }
    }
    .agreeWrap{
      margin-top: 80px;
      h3{
        padding: 5px 0;
        font-size: 1.2rem;
        font-weight: bold;
        border-bottom: 1px solid #000;
      }
      .agreeContent{
        margin-top: 10px;
        padding: 20px;
        border: 1px solid #dfdfdf;
      }
    }
    .btnWrap{
      margin-top: 20px;
      display: flex;
      gap: 10px;
    }
  }
}


@media all and (max-width:768px) {
  .join{
    .container{
      max-width: 100%;
      .loginArea{
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
      }
    }
  }
}
